:root {
  --ion-color-primary: #1b3b5f;
  --ion-color-primary-rgb: 27, 59, 95;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #173351;
  --ion-color-primary-tint: #345070;

  --ion-color-secondary: #f2a541;
  --ion-color-secondary-rgb: 242, 165, 65;

  --ion-font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}
